.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*rica logistics css with black background , color gold and white*/
.Body{
	background-color: #000000;
	color: #fff;
}
  
.links {
  text-align: right;
  padding-top: 32px;
  font-size: medium;
  margin: 10px;
}
	.links a{
		display: inline-block;
		margin: 10px;
		text-decoration: none;
		color: goldenrod;
	}

.links a:hover, .mobile_links a:hover, .ulist a:hover  {
  color: goldenrod;
  font-weight: bold;
}

.darkCover{
  position: absolute; 
  top: 0; 
  left: 0;
   width: 100%; 
   height: 100%; 
   background-color: #000000; 
   opacity: 0.7; 
   z-index: 3
}
.effect{
  color: #fff;
  position: absolute; 
  bottom: 0;
  left: 0;
  padding: 10px 10px;
  margin: 25px;
  z-index: 4;
}
.joj{
      border-radius: 20px;
}
.small_link{
   float: right;
   cursor:pointer; 
   font-size: 25px;
   display: none;
   color: goldenrod;
   padding-top: 40px;
}

.footer{
  padding-top: 5%;
margin-top: 25px;
}
.footer p{
font-size: 16px;
}



.ulist li{
background-color: transparent;
color: #fff;
}
.ulist a{
color: #fff;
text-decoration: none;
}




.social a, .social i{
width: 60px;
height: 60px;
font-size: 30px;
text-align: center;
display: inline-block;
margin: 0 5px;
padding: 14px 0;
border: 1px solid #fff;
border-radius: 50%;
text-decoration: none;
color: #fff;
}


.roundCorner{
  border-radius: 20px;
  color: #fff;
  padding: 5px 5px;
  text-decoration: none;
  background-color: skyblue;
}

.mobile_links {
  padding: 0px 0px 10px 0px;
  margin-top: -55px;
}

.mobile_links a{
  text-decoration: none;
  color: goldenrod;
  text-align:center;
  display:block;
  margin: 8px;
}

.closeX {
	position:absolute;
	top:0;
	right:0;
	color:goldenrod;
	cursor:pointer;
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6 ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.0s;
  animation-name: fade;
  animation-duration: 5.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideimg{
  width: 100%;
  height: 450px;
}

.backimg{
  background-color: #00000090;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: #fff;
}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #00000095;
}



.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 15px;
  margin-top: 20px;
}

.card__front {
  background-color: var(--clr);
  background-image: url(./Assets/newlogo.png);
  background-size: cover;
  background-blend-mode: overlay;
  color: #fff;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 20px;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  font-weight: var(--fw-bold);
  opacity: .7;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 18px;
}



.card__back {
  transform: rotateY(.5turn);
  color: #fff; 
  background: grey;
}

/*scroll bar css*/
   /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: teal; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: goldenrod; 
}

.paragraph{
    padding: 15px 15px;
  }
    .paragraph p{
      font-size: 16px;
    }

    .effect_it{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000090;
      z-index: 2;
    }

 input, select, textarea{
  padding: 15px 10px 10px 5px;
  width: 60%;
  border:none;
  border-bottom:1px solid #fff;
  background-color: #000000;
  border-radius: 0px;
  color: #fff;
}

input:focus, select:focus, textarea:focus{
  outline: none;
}

 .hideit::-webkit-input-placeholder{
    color: transparent;
  }

  button{
    border-radius: 20px;
  }

  .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
@media only screen and (max-width: 750px) {
	.links{
        display: none;
	}
	.small_link{
		display: inline-block;
	}

.slideimg{
  height: 250px;
}

.social a, .social i{
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: 0 3px;
  padding: 14px 0;
  border: 1px solid #fff;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
}


}
